<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>HR ERP System | Admin Panel</title>

	<meta name="description" content="HR ERP Admin Panel built using Flask and MySQL">
	<meta name="keywords" content="HR ERP, Admin Dashboard, Flask Project">

	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
	<div id="wrapper">

		<!-- HEADER -->
		<div id="header-wrapper">
			<div id="header">
				<div id="logo">
					<h1><a href="">HR ERP SYSTEM</a></h1>
					<p>Admin Control Panel</p>
				</div>
			</div>
		</div>
		<!-- end #header -->

		<!-- ADMIN MENU -->
		<div id="menu-wrapper">
			<div id="menu">
				<ul>
					<!-- <li><a href="/admindashboard">Dashboard</a></li> -->
					<li><a href="/addemployee">Add Employee</a></li>
					<li><a href="/showemployee">Employee Records</a></li>
					<li><a href="/searchemployee">Search Employee</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
		<!-- end #menu -->
